# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Outputs
outputs/
visualizations/
processed/
input/

# Excel / temp files
~$*.xlsx

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
